a.links {
    display: inline-block;
    text-decoration: none;
    color: white;
    border: 1px dashed white;
    border-radius: 5px;
    height: 3em;
    width: 7em;

    & i {
        border: none !important;
        margin: 0 !important;
        padding: 2px !important;

        &:hover {
            transform: none !important;
        }
    }

}